# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Dependencias (si usas npm)
node_modules/
package-lock.json

# Archivos de build
dist/
build/